<h1 align="center">Python for DATA SCIENCE</h1><Br/>
<img src="./Images/Python_Logo.svg" style="width:30%; float:centre; padding:10px 100px 10px 10px"><Br/>
<h1 align="center">Dr Mazen Gabriel ALHRISHY</h1>
<h5 align="center"><i>MAZEN.ALHRISHY@GMAIL.COM</i></h5>

<a href="https://goo.gl/BTtR3C">
    <img src="./Images/Linkedin.png" style="width:50; float:left; padding:10px 10px 10px 320px">
</a>

<a href="https://goo.gl/TtrM6z">
    <img src="./Images/Bitbucket.png" style="width:50; float:left; padding:10px 10px 10px 10px">
</a>

<a href="https://goo.gl/9uCqS6">
    <img src="./Images/DataCamp.png" style="width:7%; float:left; padding:10px 10px 10px 10px">
</a>

<a href="https://goo.gl/bnt2EL">
    <img src="./Images/Quora.png" style="width:50; float:left; padding:10px 10px 10px 10px">
</a>

<a href="https://goo.gl/VmfU3S">
    <img src="./Images/scholar.png" style="width:50; float:left; padding:10px 10px 10px 10px">
</a>

***
# 9- Database Connection and Management

> ## [I- Introduction](#I)
## [II- PyODBC: Python Open DataBase Connectivity](#II)
## [III- SQLite3: Python SQLite](#III)
## [IV- Executing SQL statements](#IV)
## [V- Reading data into Pandas DataFrame](#V)

***

## I- Introduction <a id='I'></a>

> ## [1. Database model](#I-1)
## [2. Database management system (DBMS)](#I-2)
## [3. Database connectivity interface](#I-3)

### 1- Database model <a id='I-1'></a>

> **__[A database model](https://en.wikipedia.org/wiki/Database_model)__** determines the logical structure of a database (a database is an organized collection of data). This in turn determines how data can be stored, organized and manipulated 

- **__[The Relational Model](https://en.wikipedia.org/wiki/Relational_model)__** (RM) is the most popular database model since the 1980s. RM uses a table-based format, where tables are related by common columns

### 2- Database management system (DBMS) <a id='I-2'></a>

> **A DataBase Management System (DBMS)**: is a software that interacts with end-users, other applications, and the database itself to create, read, update and manage data

- **__[The Relational DBMS](https://en.wikipedia.org/wiki/Relational_database_management_system)__** (RDBMS) is the DBMS based on RM. According to **__[DB-Engines](https://db-engines.com/en/ranking)__**, the most widely used RDBMS are Oracle, MySQL, Microsoft SQL Server, PostgreSQL, IBM DB2, Microsoft Access, and **SQLite**


- A database is often referred to by the RDBMS used to manipulate it. For example, a database that is manipulated using Microsoft SQL Server is referred to as: **Microsoft SQL Server-Database**


- Although not required, all RDBMS use **__[SQL](https://en.wikipedia.org/wiki/SQL)__** as a standard data access language

### 3- Database connectivity interface<a id='I-3'></a>

> **__[A database connectivity interface](https://en.wikipedia.org/wiki/Open_Database_Connectivity)__** allows an application to access data from a variety of DBMSs **using a specific driver for a specific DBMS and operating system**. This means that the application can be written without depending on a specific DBMS or the operating system

- **__[Open DataBase Connectivity](https://en.wikipedia.org/wiki/Open_Database_Connectivity)__** (ODBC): a standard Microsoft Windows interface that enables applications (typically written in C or C++) to connect to DBMSs


- **__[Java DataBase Connectivity](https://en.wikipedia.org/wiki/Java_Database_Connectivity)__** (JDBC): a standard Oracle interface that enables applications written in Java to connect to DBMSs

***
## II- __[PyODBC](https://github.com/mkleehammer/pyodbc/wiki)__: Python Open DataBase Connectivity <a id="II"></a>

> Using pyodbc, you can easily connect Python applications to a DBMS-database using the required ODBC driver

> ### [1- Installation](#II-1)
> ### [2- Connecting to a database](#II-2)

### 1- Installation <a id='II-1'></a>

> Installation includes 2 steps: 
    - Installing the package
    - Installing the required ODBC driver

- **_Step 1_**: install pyodbc through pip in your Anaconda prompt

In [ ]:
! pip install pyodbc --y

* To import into a Python script

In [ ]:
import pyodbc

- **_Step 2_**: install the required driver for the DBMS-database you want to connect to. For example, if you want to connect to a Microsoft SQL Server-Database, you need to download and install the driver from __[Microsoft](https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-2017)__ after choosing your operating system

### 2- Connecting to a database <a id='II-2'></a>

> To make a connection to a database, we need to pass a **connection string** to the **connect()** function of pyodbc. The most important thing to remember is that: pyodbc passes the connection string directly to the DBMS-database driver unmodified. Therefore, **connection strings are driver-specific**

- For example, to connect to a **Microsoft SQL Server-Database**, we provide the following **connection string**:

In [ ]:
cnxn = pyodbc.connect('driver={SQL Server};'
                      'server=serverName;'  # serverName: your Server name
                      'database=databaseName;'  # databaseName: your database name
                      'trusted_connection=yes')

- Information about general connection string for most databases can be found __[here](http://www.connectionstrings.com)__
- Make sure to follow the connection string formatting rules found __[here](https://www.connectionstrings.com/formating-rules-for-connection-strings/)__


- The connection string can also be passed as arguments, which are then concatenated into a connection string:

In [ ]:
cnxn = pyodbc.connect(driver='{SQL Server}',
                      server='serverName',  # serverName: your Server name
                      database='databaseName',  # databaseName: your database name
                      trusted_connection='yes')

- In the connection string above, we assume that the SQL Server Authentication mode is set to **Windows Authentication Mode**, so we did not have to provide credentials to get access permissions to the server

- However, if it was a **Mixed Authentication Mode** (i.e. SQL Server Authentication + Windows Authentication), we can still use the above connection string, or the following one where we provide our User ID and Password:

In [ ]:
cnxn = pyodbc.connect(driver='{SQL Server}',
                      server='serverName',  # serverName: your Server name
                      database='databaseName',  # databaseName: your database name
                      uid='UserID',  # UserID: your user ID for the Server login
                      pwd='password')  # password: your password for the Server login

- Pyodbc also supports __[Data Source Name](https://en.wikipedia.org/wiki/Data_source_name)__ (DSN) connections. A DSN contains information about a specific database that an ODBC driver needs in order to connect to it (information such as the database driver, the server and database names, etc)

In [ ]:
cnxn = pyodbc.connect('DSN=DsnName;'  # DsnName: the DSN name
                      'pwd=password')  # password: your password for the Server login

- Lastly, depending on the database you are trying to access, and the version of Python you are using, you might need to set the connection **encoding/decoding settings**. These settings can be found __[here](https://github.com/mkleehammer/pyodbc/wiki/Unicode)__


- For **Microsoft SQL Server-Database** and **Python 3.x**, using pyodbc default encoding/decoding settings is recommended (i.e. no need to do anything)

***
## III- SQLite for Python: SQLite3 <a id='III'></a>

> SQLite3 is the Python package for SQLite which is the most widely deployed RDBMS in the world (arguably).  
The main features of SQLite are: 
    - An embedded SQL database: SQLite does not have a separate server process (i.e. server-less). It    reads and writes directly to ordinary disk files (i.e. disk-based)
    - Free for use for any purpose, commercial or private


> ### [1- Installation](#III-1)
> ### [2- Connecting to a database](#III-2)

### 1- Installation <a id='III-1'></a>

* SQLite3 is included with Python by default. So even if you have created a new Anaconda environment, it will be installed for you

* To verify the package is included:

In [ ]:
! conda list

* To import into a Python script

In [ ]:
import sqlite3

### 2- Connecting to a database <a id='III-2'></a>

> To create a connection to a disk-based database, we just need to pass the name of the database to the **connect()** function of sqlite3:

In [ ]:
cnxn = sqlite3.connect(r'Databases\database.db')

If the database does not exist, it will be created for us

***
## 4- Executing SQL statements <a id='IV'></a>

> ### [1- SELECT statement](#IV-1)
> ### [2- UPDATE statement](#IV-2)
> ### [3- DELETE statement](#IV-3)
> ### [4- INSERT INTO statement](#IV-4)
> ### [5- Long SQL statement](#IV-5)

- Once we have a connection to the database, either from pyodbc or sqlite3, we can then create a **Cursor** object which represents a database cursor. We can do this using the **__[cursor()](https://github.com/mkleehammer/pyodbc/wiki/Cursor)__** method

In [ ]:
cursor = cnxn.cursor()

- Now we have a Cursor object, we can execute any valid SQL query string using the Cursor **execute()** method

        cursor.execute(sql_query_string)

> The database we are connected to (database.db), has 2 tables:  
**T_CUSTOMERS**, which contains records of 5 customers (i.e. 5 rows). **Each record has a unique customer id (id), first name (fname), and last name (lname)**  
**T_ADDRESSES** which contains the 5 customers addresses. **Each record has a unique customer id (id), Country (country), City (city), and postal code (code)**

### 1- SELECT statement <a id='IV-1'></a>

- To select the **id**, **fname**, and **lname** columns from **T_CUSTOMERS**, we use SQL __[SELECT](https://www.w3schools.com/sql/sql_select.asp)__

In [ ]:
cursor.execute("SELECT id, fname, lname FROM T_CUSTOMERS")

> The executed SELECT statement returns rows, which we can retrieve using one of the Cursor **fetch** functions:
    - fetchone(): retrieves one row only, and move the Curser to the next row
    - fetchall(): retrieves all rows, and move the Curser to the end
    - fetchmany(size): retrieves a number of rows, and move the Curser to the next row
    
Note: if there are no rows left, **fetchone()** will return None, whereas **fetchall()** and **fetchmany()** will both return empty lists

- For example, to retrieve one row only

In [ ]:
row = cursor.fetchone()

**row** will be a **Tuple of values**, one for each of the columns in the SELECT statement

In [ ]:
print(row)

- To get each column's description, the **Cursor description** attribute can be used

In [ ]:
descriptions = cursor.description

This description will be a list of **Tuples**, one for each column. Each Tuple has 7 items to describe the column, the one that matters to us is the first item, which is the column's name (or alias, if specified in the SQL SELECT)

In [ ]:
for description in descriptions:
    print(description[0])

- To retrieve all the remaining rows as a list, we can use **fetchall()**

In [ ]:
rows = cursor.fetchall()

In [ ]:
for row in rows:
    print(row)

### 2- UPDATE statement <a id='IV-2'></a>

- To update an existing record in **T_CUSTOMERS**, we use SQL __[UPDATE](https://www.w3schools.com/sql/sql_update.asp)__ **with a WHERE clause**

<font color="red">If you do not use a WHERE clause</font> in the UPDATE statement to specify which record(s) should be updated, <font color="red">all records will be updated!</font>

- Let's update lname='Trujillo' to 'Taqueria'

In [ ]:
cursor.execute("UPDATE T_CUSTOMERS SET lname = 'Taqueria' WHERE lname='Trujillo'")

- If we want to know how many records were modified by the last SQL statement, we can use the **Cursor rowcount** attribute. This will return -1 if no SQL has been executed or if the number of rows is unknown

In [ ]:
print(cursor.rowcount)

- Let's check if the record with id=4 has been deleted by **executing** the SELECT statement again with **fetchall()**

In [ ]:
for row in cursor.execute("SELECT id, fname, lname FROM T_CUSTOMERS").fetchall():
    print(row)

### 3- DELETE Statement <a id='IV-3'></a>

- To delete a customer's record from **T_CUSTOMERS**, we use SQL __[DELETE](https://www.w3schools.com/Sql/sql_delete.asp)__ **with a WHERE clause**

<font color="red">If you do not use a WHERE clause</font> in the DELETE statement to specify which record(s) should be deleted, <font color="red">all records will be deleted!</font>

- Let's delete the record with id=4

In [ ]:
cursor.execute("DELETE FROM T_CUSTOMERS WHERE id=4")

- Let's check how many records were modified

In [ ]:
print(cursor.rowcount)

- Let's check if that record has been deleted successfully

In [ ]:
for row in cursor.execute("SELECT id, fname, lname FROM T_CUSTOMERS").fetchall():
    print(row)

### 4- INSERT INTO Statement <a id='IV-4'></a>

- To insert a new record into **T_CUSTOMERS**, we use SQL __[INSERT INTO](https://www.w3schools.com/sql/sql_insert.asp)__

- Let's insert the same record we have deleted

In [ ]:
cursor.execute("INSERT INTO T_CUSTOMERS(id, fname, lname) VALUES (4, 'Ana', 'Trujillo')")

- Let's check how many records were modified

In [ ]:
print(cursor.rowcount)

- Let's check if that record has been inserted successfully

In [ ]:
for row in cursor.execute("SELECT id, fname, lname FROM T_CUSTOMERS").fetchall():
    print(row)

### 5- Long SQL Statement <a id='IV-5'></a>

> Let's assume that we want to select the full name, and city and postal code of a customer with the last name 'Trujillo'. We (or someone else) has written the following SQL statement to do this:

       SELECT customer.lname,
              customer.fname,
              address.city,
              address.code
       FROM   T_CUSTOMERS AS customer 
              LEFT JOIN T_ADDRESSES AS address ON address.id = customer.id 
       WHERE  customer.lname = 'Trujillo'

- The easiest way to pass this long SQL statement to **excute()** is to use the triple-quote string format to encapsulate the statement. White-spaces (including tabs and newlines) should be ignored by the SQL database, but if we want to remove them from the left, we can use the **dedent()** function from the built-in textwrap module

In [ ]:
import textwrap

sql_query_string = textwrap.dedent("""
SELECT customer.lname,
       customer.fname,
       address.city,
       address.code
FROM   T_CUSTOMERS AS customer 
       LEFT JOIN T_ADDRESSES AS address ON address.id = customer.id 
WHERE  customer.lname = 'Trujillo' 
""")

print(cursor.execute(sql_query_string).fetchall())

- Finally, <font color="red">we must call **commit()** on the **connection** that created this cursor, otherwise our changes will be lost if we close the Script</font>

In [ ]:
cnxn.commit()

***
## 5- Read SQL statements into Pandas DataFrame <a id='V'></a>

> Pandas can read an SQL statement directly into a dataframe **without using a Cursor**. This can be done using the
**read_sql(sql, con)** function where:
    - sql: SQL statement string
    - con: connection object to the database

> Let's read the last SQL statement into a DataFrame

In [ ]:
import textwrap
import pandas as pd

sql_query_string = textwrap.dedent("""
SELECT customer.lname,
       customer.fname,
       address.city,
       address.code
FROM   T_CUSTOMERS AS customer 
       LEFT JOIN T_ADDRESSES AS address ON address.id = customer.id 
WHERE  customer.lname = 'Trujillo' 
""")

df = pd.read_sql(sql_query_string, cnxn)

In [ ]:
print(df)